
.item {background-color: lightblue;border: 1px solid black;}

body {
    margin: 0; /* 移除默认的 margin */
    background: linear-gradient(to bottom right,  #FFD3B4, #ECECEC,#A4B0BE);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, h2 {
    line-height: 1.5; /* 調整行間距 */
    margin: 0; /* 移除頂部和底部的外邊距 */
    padding: 0; /* 移除內邊距 */
}
body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.photo-section {
    flex: 5;
    background-image:('school-picture.jpg'); /* 更換為實際的圖片路徑 */
    background-size: cover;
}

.login-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* 表單周圍的間距 */
}
label, input {
    width: 100%; /* 讓標籤和輸入框全寬 */
    margin: 10px 0;
}

input[type=text], input[type=password] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type=submit] {
    align-self: right; /* 登入按鈕置中 */
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #3a5ba0;
}